html,
body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #00bfff;
}

.logo {
  width: 200px;
  border-radius: 50%;
}

.aboutdata {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.brand {
  width: 30px;
  border-radius: 50%;
}

.jualan,
.footer {
  background-color: #00bfff;
}

a {
  text-decoration: none;
}

.dataproduk {
  width: 100%;
}
