html,
body {
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding-top: 5rem;
  background-color: Turquoise;
}

.logo {
  width: 200px;
  border-radius: 50%;
}

.aboutdata {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.brand {
  width: 30px;
  border-radius: 50%;
}

.jualan,
.footer {
  background-color: #40e0d0;
}

a {
  text-decoration: none;
}

.dataproduk {
  width: 100%;
}

/* /* .download {
  position: absolute;
  left: 500px;
  bottom: -1050px;
} */

.download {
  margin-top: 4rem;
}

body {
  
} */
